<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="/albums">
    <span class="oi oi-aperture" title="icon aperture" aria-hidden="true">&nbsp;&nbsp;</span>On The Road Again</a>

  <!-- Hamburger button in small resolution -->
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar content -->
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <!-- Dynamic countries -->
      <li *ngFor="let album of albums$ | async" class="nav-item" routerLinkActive="active">
        <a (click)="isNavbarCollapsed = true" class="nav-link" [routerLink]="['/album/', album.id]">{{album.name}}</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="authService.isAuthorized()" class="nav-item" routerLinkActive="active">
        <a (click)="isNavbarCollapsed = true" class="nav-link" routerLink="/admin">
          <span class="oi oi-cog" title="icon terminal" aria-hidden="true">&nbsp;&nbsp;</span>Administration</a>
      </li>

      <li class="nav-item">
        <a (click)="isNavbarCollapsed = true" class="btn btn-outline-light" routerLinkActive="active" routerLink="/login">
          <span class="oi oi-person"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
