<div class="container-fluid">
  <div class="form col-6">
    <div class="form-group">
      <label for="inputName">Nom de l'album</label>
      <div class="input-group">
        <input id="inputName" type="text" class="form-control" placeholder="Entrez le nom de l'album ..." [(ngModel)]="album.name">
        <div class="input-group-append">
          <span class="input-group-text">id: {{album.id}}</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea class="form-control" id="inputDescription" rows="3" placeholder="Entrez la description de l'album ..." [(ngModel)]="album.description"></textarea>
    </div>

    <div class="form-group">
      <label for="inputFile">Photos</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputFile" (change)="uploadFile($event)" accept=".png,.jpg" multiple/>
        <label class="custom-file-label" for="inputFile">Choisissez une photo...</label>
      </div>
      <progress style="width:100%" max="100" [value]="(uploadPercent | async)"></progress>
      <div *ngIf="downloadURL | async">
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
        <img [src]="downloadURL | async" style="width:150px;" alt="The image uploaded">
      </div>
    </div>

    <div class="form-group">
      <label>Gallerie</label>
      <div *ngFor="let img of imageList | async">
        <img [src]="img.downloadURL | async" style="width:150px;">
        <button (click)="delete(img)" style="position:absolute;top:2px;right:2px;">[x]</button>
      </div>
    </div>

    <button type="button" class="btn btn-success float-right" (click)="save()">
      <span class="oi oi-pencil"></span>&nbsp;Sauvegarder
    </button>
  </div>
</div>
