<div class="container-fluid">
  <div class="form col-md-12 col-xl-6">
    <div class="form-group">
      <label for="inputName">Nom de l'album</label>
      <div class="input-group">
        <input id="inputName" type="text" class="form-control" placeholder="Entrez le nom de l'album ..." [(ngModel)]="album.name">
        <div class="input-group-append">
          <span class="input-group-text">id: {{album.id}}</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea class="form-control" id="inputDescription" rows="3" placeholder="Entrez la description de l'album ..." [(ngModel)]="album.description"></textarea>
    </div>

    <div class="form-group">
      <label for="inputFile">Photos</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputFile" (change)="detectFiles($event)" accept=".png,.jpg" multiple/>
          <label class="custom-file-label" for="inputFile">Choisissez une photo...</label>
        </div>
        <div class="input-group-append">
          <button class="input-group-text" (click)="upload()">Upload</button>
        </div>
      </div>
      <!-- Progress bar -->
      <!-- <progress style="width:100%" max="100" [value]="(uploadPercentObservable | async)"></progress> -->
      <div *ngIf="isUploading" class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': (uploadPercentObservable | async) + '%'}">{{uploadPercentObservable | async}}%</div>
      </div>
    </div>

    <div class="form-group">
      <label>Gallerie</label>
      <div *ngFor="let img of imageList | async">
        <img [src]="img.url" style="width:150px;">
        <button (click)="delete(img)">[x]</button>
      </div>
    </div>

    <button type="button" class="btn btn-success float-right" (click)="save()">
      <span class="oi oi-pencil"></span>&nbsp;Sauvegarder
    </button>
  </div>
</div>
