<div *ngIf="album$ | async as album">
  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">{{album.name}}</h1>
      <p class="lead text-muted">{{album.description}}</p>
      <p>
        <button class="btn btn-primary my-2" (click)="openSlideshow()">
          <span class="oi oi-media-play"></span> Lancer le diaporama</button>
      </p>
    </div>
  </section>
  <div class="bg-light">
    <div class="container-fluid px-0">

      <div class="row-mosaic">
        <!-- <div *ngFor="let img of images$ | async; let i = index" class="col-md-3"> -->
        <div *ngFor="let images of arrays;" class="column-mosaic">
          <div *ngFor="let img of images; let i = index" class="image-mosaic">
            <app-image [url]="img.urlThumb" [clazz]="'img-fluid pointer'" [altText]="'Responsive image'" (click)="openSlideshow(img)"></app-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-photo-swipe #photoSwipe></app-photo-swipe>
<!-- <div infiniteScroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
<div *ngIf="!finished">Loading more</div>
<div *ngIf="finished">End</div> -->
