<div *ngIf="album$ | async as album">
  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">{{album.name}}</h1>
      <p class="lead text-muted">{{album.description}}</p>
      <p>
        <button class="btn btn-primary my-2" (click)="openSlideshow()">
          <span class="oi oi-media-play"></span> Lancer le diaporama</button>
      </p>
    </div>
  </section>
  <div class="bg-light">
    <div class="container-fluid px-0">

      <div class="row no-gutters">
        <div *ngFor="let img of imageList; let i = index" class="col-md-3">
          <div *ngIf="index % 4 === 0" class="w-100"></div>
          <app-image [url]="img.url" (click)="openSlideshow(i)"></app-image>
        </div>
      </div>
    </div>
  </div>
</div>
<app-photo-swipe #photoSwipe></app-photo-swipe>
